#uploadPictures, #uploadDocuments {
    background: #f3f3f3 !important;
    height: auto;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropArea {
    border: 10px dashed #d3d3d3;
    height: auto;
    min-height: 150px;
    background-color: #f3f3f3;
    overflow: hidden;
    text-align: center;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

.dropArea span {

}

#uploadPictures p, #uploadDocuments p {
    font-size: 0.8rem !important;
    line-height: 0.9rem !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-left: -20px !important;
}

#uploadPictures ul, #uploadDocuments ul{
    list-style:none;
    padding:10px;
    padding-right:30px;
}

#uploadPictures ul li, #uploadDocuments ul li{

    /*background-color:#333639;*/
    background-color: #f3f3f3;

    /*background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);*/

    border-top:1px dotted #c5c5c5;
    border-bottom:1px dotted #c5c5c5;
    padding:0px !important;
    height: 62px;
    position: relative;
}

#uploadPictures ul li input, #uploadDocuments ul li input{
    display: none;
}

#uploadPictures ul li p, #uploadDocuments ul li p{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(77,77,77);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    top: 20px;
    left: 100px;
}

#uploadPictures ul li i, #uploadDocuments ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#uploadPictures ul li canvas, #uploadDocuments ul li canvas{
    top: 12px;
    left: 15px;
    position: absolute;
}

#uploadPictures ul li .button, #uploadDocuments ul li .button {
    position: absolute;
    right: 15px;
    top:15px;
}

#uploadPictures ul li span, #uploadDocuments ul li span{
    width: 15px;
    height: 12px;
    background: url('/img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#uploadPictures ul li.working span, #uploadDocuments ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}


#uploadPictures ul li.error p, #uploadDocuments ul li.error p{
    color: #ff0000;
}

#uploadPictures ul li.error span, #uploadDocuments ul li.error span{
    background: url('/img/icons.png') no-repeat;
    height: 16px;
    background-position: 0 -12px;
}